[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
webdriver-manager = "*"
selenium = "*"
flask-sqlalchemy = "*"
celery = "*"
redis = "*"
eventlet = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-cors = "*"
html2image = "*"
swagger-ui-py = "*"

[dev-packages]

[requires]
python_version = "3.9"
