{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
    <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client}}&currency=USD"></script>
{% endblock %}

{% block body %}
    <div class="my-5 py-5" style="border: 2px solid black">
        <center>
            <h4>Checkout order</h4>
            <hr>
            <p>Order code: {{ object.id }}</p>
            <p>Email: {{ object.email }}</p>
            <p>Register request url: {{ object.url }}</p>
            <hr>
            <h5>Price to pay: 1$</h5>
            <hr>
            <div id="paypal-button-container"></div>
        </center>
    </div>
    <script>
      paypal.Buttons({
        createOrder() {
          return fetch(window.location.href, {
            method: "post",
          })
          .then((response) => response.json())
          .then((order) => order.id);
        },

        onApprove(data) {
          fetch(window.location.href + "/capture", {
            method: "post",
          })
          .then((response) => response.json())
          .then((data) => {
              if(data.status == "ERROR") {
                alert("Payment error. Please contact administrator");
              } else {
                 location.reload();
              }
          });
        }
      }).render('#paypal-button-container');
    </script>
{% endblock %}