{% extends "base.html" %}
{% block body %}
  <center>
    <h4>About us</h4>
  <p>Air Raid Alert service taking a data from alert info services</p>
  <p>And present alert data in human-readable format</p>
  <p>Without need to have the API key</p>
  <hr>
    <h5>Contact me on questions</h5>
    <p>Email: pm.antondolia@gmail.com</p>
    <p>Telegram: <a href="https://t.me/demirug">@demirug</a></p>
  <hr>
  <a href="/api" class="btn btn-primary">API</a>
  <a href="/callback" class="btn btn-success">Callback</a>
  <hr>
  {% include "map.html" %}
  <script src="{{ url_for('static', filename='map.js') }}"></script>
  <script>
    update_data();
    setInterval(update_data, 5000);
  </script>
  </center>
{% endblock %}